/********************************************************************************************************** 
Universal 
*/
main{
display: flex;
align-content: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    background: #40515D;
    margin-left: auto;
    margin-right: auto 
    
}




/********************************************************************************************************** 
NAV 
*/

.navbar-light {
    
    background: #011627 ;
    color: #FDFFFC;
}
.navbar-light .navbar-brand {
    color: #FDFFFC;
}
.navbar-light .navbar-brand:hover {
    color: #FF00FF;
}

.navbar-light .navbar-nav .nav-link{
    color: #FDFFFC;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #FF00FF;
  }

/********************************************************************************************************** 
CAROUSEL 
*/

.carousel {
    width:640px;
    height:360px;
}

.carousel-container {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.carousel-image {
    background-size:contain;
    background-repeat:no-repeat;
    background-size: cover;
    width:640px;
    height:360px;
}

/********************************************************************************************************** 
Profile 
*/

.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.profile-img{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 500px!important;
    height: 375px;
    margin: 10px;	
}

.card {
    width: 500px;
    height: 375px;
    margin: 10px;
}

.card-img-top{
    height: 10vh;
}

/********************************************************************************************************** 
FORMS
*/

.form-container {
    width: 100vw; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.form-panel {
    width: 640px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.error-message {
    color: red; 
}

/********************************************************************************************************** 
Footer 
*/

footer{
    height: 5vh;
    width: 100%;
    background: #40515D;
    color: #FDFFFC;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

footer div {
    text-align: center;
    display: inline;
}
