{% extends 'base.html' %}
{% block content %}
    <section class="post-container">
        <img src="../static/images/rio.jpg" alt="">
        <h1>Title</h1>
        <div>Date</div>
        <div></div>
        <p>Saepe eum pariatur exercitationem a impedit et, exercitationem ullam dolores nisi inventore minus optio, maxime inventore doloribus facere eveniet voluptas, commodi repellendus reiciendis deserunt cupiditate similique esse delectus molestiae facere fugiat.</p>

        <a href="{% url 'edit_post' %}">
            <button class="btn" type="button" >Edit Profile</button>
        </a>


    </section>



{% endblock %}
