{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="about-page-content-container">
    <div class="about-card-container">

        <div class="about-card sky">
            <img src="{% static 'images/sky.jpg' %}" alt="Sky" style="width:100%" >
            <h5 class="profile-h5">Sky McMahon</h5>
            <p class="title">Jr. Full Stack Software Engineer</p>
            <a href="https://www.linkedin.com/in/sky-mcmahon/"><i class="fa fa-linkedin about-icon"></i></a>
            <a href="https://github.com/skymcmahon"><i class="fa fa-github about-icon" aria-hidden="true"></i></a>
            <a href="https://www.dominos.com/en/">
                <p>
                    <button>Contact</button>
                </p>
            </a>
        </div>
        
        
        <div class="about-card lora">
            <img src="{% static 'images/lora.jpg' %}" alt="Lora" style="height: 506.75">
            <h5 class="profile-h5">Lora Paine</h5>
            <p class="title">Jr. Full Stack Software Engineer</p>
            <a href="https://www.linkedin.com/in/lorapaine/"><i class="fa fa-linkedin about-icon"></i></a>
            <a href="https://github.com/desertlp"><i class="fa fa-github about-icon" aria-hidden="true"></i></a>
            <a href="https://www.chuckecheese.com/">
                <p>
                    <button>Contact</button>
                </p>
            </a>
        </div>

   
        

        <div class="about-card derek">
            <img src="{% static 'images/derek.jpg' %}" alt="Derek" style="width:100%">
            <h5 class="profile-h5">Derek Oshita</h5>
            <p class="title">Jr. Full Stack Software Engineer</p>
            <a href="https://www.linkedin.com/in/doshita/"><i class="fa fa-linkedin about-icon"></i></a>
            <a href="https://git.generalassemb.ly/derek-oshita"><i class="fa fa-github about-icon" aria-hidden="true"></i></a>
            <a href="https://derek-oshita.github.io/">
                <p>
                    <button>Contact</button>
                </p>
            </a>
        </div>

    </div>
</div>

{% endblock %}