
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Surveyor</title>
  <link rel="shortcut icon" href="{% static 'images/CompassRose.svg' %}" type="image/x-icon">
  <!-- BOOTSTRAP RESOURCES  -->
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <!-- Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
  <!-- Animate.style CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
  <!-- Bulma CDN for Forms -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <!-- Main CSS -->
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <!-- Main JS -->
  <script src="{% static 'js/app.js' %}"></script>

</head>
<body>
  <header>
    
    <nav class="navbar navbar-expand-md navbar-light custom-toggler">
        <a class="navbar-brand" href="{% url 'home' %}">Surveyor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              {% comment %}
            <!-- <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cities' %}">Cities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li> -->
            {% endcomment %}
            <!-- NAV BAR STARTS HERE -->
              <!-- HOME -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>                  
              <!-- ABOUT -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>               
              <!-- USER LOGGED IN NAV -->
            {% if user.is_authenticated %}
             <!-- CITIES INDEX -->
             <li class="nav-item">
                <a class="nav-link" href="{% url 'city' city_id=2 %}">Cities</a>
              </li>
              <!-- PROFILE -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
              </li>
              <!-- LOGOUT -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
              </li>
              <!-- USER LOGGED OUT NAV -->
              {% else %}
               <!-- SIGN UP -->
               <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
              </li>             
              <!-- LOGIN -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
              </li>
            {% endif %}  
            </ul>
        </div>
    </nav>
    
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p class="footer-content">&copy; 2020 || Surveyor</p>
  </footer>
</body>
</html>

