{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="main-container-1">
        <div class="profile-container">
            <!-- USER IMAGE -->
            <div class="">
                {% comment %} <img class="profile-img" src="https://cdn.britannica.com/36/162636-050-932C5D49/Colosseum-Rome-Italy.jpg" alt="Image"> {% endcomment %}
                <img class="profile-img" src=" {{ user.profile.image.url }}">
                {% comment %} <img class="profile-img" src="{% static 'images/default.jpg' %}" alt="Image"> {% endcomment %}
            </div>
            <!-- PROFILE DETAILS CARD -->
            <div class="card bg-light">
                <!-- PROFILE HEADER -->
                <div class="card-header">
                    <h5 class="profile-h5 animate__animated animate__fadeIn">Welcome, {{ user.username }}!</h5>
                </div>
                <!-- PROFILE DETAILS -->
                <div class="card-body">
                    <div class="card-title"><strong>First Name: </strong> {{ user.first_name }}</div>
                    <div class="card-title"><strong>Last Name: </strong> {{ user.last_name }}</div>
                    <div class="card-title"><strong>Hometown:</strong> {{ user.profile.home_city }}</div>
                    <div class="card-title"><strong>Email:</strong> {{ user.email }}</div>
                    <!-- EDIT PROFILE BUTTON -->
                    <div class="edit-profile-button-container">
                        <a href="{% url 'edit_profile' %}">
                            <button id="profile-edit-btn" class="edit-btn" type="button">Edit Profile</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- USER POSTS -->
        {% if posts.count %}
        <div class="profile-posts">
        {% for post in posts %}
            <a href= {% url 'post' post.id %}>
                <div class="post-card card card animate__animated animate__fadeInUp" style="width: 18rem;">
                    <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="post-card-title">{{post.title}}</h5>
                        <small><strong>Updated: {{ post.updated|timesince }} ago</strong></small>
                        <p class="card-text">{{post.body|truncatechars:150}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        <!-- NO POSTS -->
        {% else %}
        <div class="empty-posts-container">
            <p class="empty-posts-message animate__animated animate__fadeInUp">You have no recent posts.</p>
        </div>
        {% endif %}
        </div>

{% endblock %}