{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="main-container-1">
        <div class="profile-container">
            <!-- USER IMAGE -->
            <div class="">
                {% comment %} <img class="profile-img" src="https://cdn.britannica.com/36/162636-050-932C5D49/Colosseum-Rome-Italy.jpg" alt="Image"> {% endcomment %}
                <img class="profile-img" src=" {{ user.profile.image.url }}">
                {% comment %} <img class="profile-img" src="{% static 'images/default.jpg' %}" alt="Image"> {% endcomment %}
            </div>
            <!-- PROFILE DETAILS CARD -->
            <div class="card bg-light">
                <!-- PROFILE HEADER -->
                <div class="card-header">
                    <h5 class="profile-h5">Welcome, {{ user.username }}!</h5>
                </div>
                <!-- PROFILE DETAILS -->
                <div class="card-body">
                    <div class="card-title"><strong>First Name: </strong> {{ user.first_name }}</div>
                    <div class="card-title"><strong>Last Name: </strong> {{ user.last_name }}</div>
                    <div class="card-title"><strong>Hometown:</strong> {{ user.profile.home_city }}</div>
                    <div class="card-title"><strong>Email:</strong> {{ user.email }}</div>
                </div>
                <!-- EDIT PROFILE BUTTON -->
                <a href="{% url 'edit_profile' %}">
                    <button id="profile-edit-btn" class="edit-btn" type="button">Edit Profile</button>
                </a>
            </div>
        </div>
        <!-- USER POSTS -->
        <div class="all-posts animate__animated animate__fadeInUp">
        {% for post in posts%}
            <a href= {% url 'post' post.id %}>
                <div class="post-card card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="post-card-title">{{post.title}}</h5>
                        <small><strong>Updated: {{ post.updated }}</strong></small>
                        <p class="card-text">{{post.body}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>


        {% comment %} <div class="profile-container"> 
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/london.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Post</h5>
                    <p class="card-text">Saepe eum pariatur exercitationem a impedit et, exercitationem ullam dolores nisi inventore minus optio, maxime inventore doloribus facere eveniet voluptas, commodi repellendus reiciendis deserunt cupiditate similique esse delectus molestiae facere fugiat.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/images/rome.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Post</h5>
                    <p class="card-text">Saepe eum pariatur exercitationem a impedit et, exercitationem ullam dolores nisi inventore minus optio, maxime inventore doloribus facere eveniet voluptas, commodi repellendus reiciendis deserunt cupiditate.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/images/tokyo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Post</h5>
                    <p class="card-text">Saepe eum pariatur exercitationem a impedit et, exercitationem ullam dolores nisi inventore minus optio, maxime inventore doloribus facere eveniet voluptas.</p>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    



{% endblock %}