{% extends 'base.html' %}
{% block content %}
    <p>{{ city.name }}</p>
    <p>{{ city.country}}</p>
    <p>{{ city.latitude }} N</p>
    <p>{{ city.longitude }} W</p>
    <img id="post-img" src="{{ city.image.url }}" alt="{{ city.name }}">

    {% for post in posts %}
        <a href="{% url 'post' post.id %}">
            <img src="../static/images/rio.jpg" alt="">     
                <h1>{{ post.title }}</h1>
            <div>City: {{ post.city }}</div>
            <div>Date created: {{ post.created }}</div>
            <div>Date updated: {{ post.updated }}</div>
            <div>Author: {{ post.user.username }}</div>
            <p>{{ post.body }}</p>
        </a>
    {% endfor %}

        <a href="{% url 'new_post' city.id %}">
            <button class="btn" type="button">New Post About This City</button>
        </a>

{% endblock %}
