{% extends 'base.html' %}

{% block content %}

<!-- MAIN CONTAINER -->
<div class="show-page-main-container">
    <!-- SIDEBAR -->
    <div class="sidebar-container">
        <header class="sidebar-header">CITIES</header>
        <ul class="sidebar-ul">
        <!-- CITY NAMES -->
        {% for city in side_bar_cities.all %}  
            <a href={% url 'city' city.id %}>
                <li class="sidebar-item">
                    <span class="sidebar-text">{{city.name}}</span>
                </li>
            </a>
        {% endfor %}
        </ul>
    </div>
    <!-- END SIDEBAR -->   
    <!-- CITY SHOW PAGE -->
    <div class="city-show-conatiner">
        <!-- CITY IMAGE -->
        <div class="city-img-container">
    
            <img class="city-img" src="{{ city.image.url }}" alt="{{ city.name }}">
        </div>
        <!-- CITY TOP HALF -->
            <div class="city-details">
                <p class="city-title profile-h5">{{ city.name }}, {{ city.country }}</p>
                <div class="divider"></div>
                <a href="{% url 'new_post' city.id %}">
                    <button class="edit-btn btn add-btn" type="button">+</button>
                </a>
            </div>
        <!-- POST CONTAINER -->
        <div class="city-bottom">
            <div class="all-posts">
                {% for post in posts%}
                    <a href= "{% url 'post' post.id %}">
                        <div class="post-card card animate__animated animate__fadeInUp" style="width: 18rem;">
                            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="post-card-title">{{post.title}}</h5>
                                <small><strong>Created by: {{ post.user.username }}</strong></small></br>
                                <small><strong>Updated: {{ post.updated|timesince }} ago</strong></small>
                                <p class="card-text">{{post.body|truncatechars:130}}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
  